@font-face {
  font-family: poppins;
  src: url(../fonts/poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: openSans;
  src: url(https://fonts.google.com/specimen/Open+Sans);
}
* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: poppins;
}

.container {
  width: 32rem;
  margin: auto;
}
.container nav {
  width: 90%;
  height: 7rem;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.container nav .button {
  width: 125px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px hsl(321, 100%, 78%);
  border-radius: 30px;
}
.container nav .button a {
  display: block;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: hsl(321, 100%, 78%);
  font-family: poppins;
}
.container nav .pusher {
  width: 93px;
  background-color: aqua;
}
.container nav .logo {
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container nav .logo img {
  width: 100%;
}
.container .starter-section {
  width: 90%;
  height: 35rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 75px 0 0 0;
}
.container .starter-section h2 {
  display: block;
  width: 458px;
  height: 6rem;
  font-size: 38px;
  text-align: center;
  font-family: poppins;
  line-height: 55px;
  color: hsl(192, 100%, 9%);
  font-weight: bolder;
}
.container .starter-section p {
  display: block;
  width: 441px;
  height: 141px;
  font-size: 19px;
  text-align: center;
  font-family: poppins;
  line-height: 40px;
  color: hsl(192, 100%, 9%);
}
.container .starter-section a {
  font-family: poppins;
  width: 294px;
  height: 58px;
  border-radius: 78px;
  text-decoration: none;
  outline: none;
  background-color: hsl(322, 100%, 66%);
  color: hsl(207, 100%, 98%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .image-section {
  width: 94%;
  margin: 6rem auto;
}
.container .image-section .section-two-ill {
  width: 100%;
  height: 364px;
}
.container .image-section .section-two-ill img {
  width: 100%;
}
.container .records-section {
  margin: 10px 0 0 auto;
  width: 80%;
  height: 600px;
  display: flex;
  flex-direction: column;
}
.container .records-section .section-1 .class-1 {
  width: 100%;
  height: 70px;
  padding: 16px 0 0 18px;
}
.container .records-section .section-1 .class-1 img {
  display: block;
  width: 50px;
}
.container .records-section .section-1 .class-2 {
  width: 100%;
  height: 100px;
  padding: 16px 0 0 18px;
}
.container .records-section .section-1 .class-2 h2 {
  width: 60%;
  font-size: 94px;
}
.container .records-section .section-1 .class-3 {
  width: 100%;
  height: 80px;
  padding: 24px 0 0 10px;
}
.container .records-section .section-1 .class-3 p {
  width: 100%;
  font-size: 1.55rem;
}
.container .records-section .section-2 {
  margin-top: 76px;
}
.container .records-section .section-2 .class-1 {
  width: 100%;
  height: 70px;
  padding: 16px 0 0 18px;
}
.container .records-section .section-2 .class-1 img {
  display: block;
  width: 50px;
}
.container .records-section .section-2 .class-2 {
  width: 100%;
  height: 100px;
  padding: 16px 0 0 18px;
}
.container .records-section .section-2 .class-2 h2 {
  width: 60%;
  font-size: 5.4rem;
}
.container .records-section .section-2 .class-3 {
  width: 100%;
  height: 80px;
  padding: 24px 0 0 10px;
}
.container .records-section .section-2 .class-3 p {
  width: 100%;
  font-size: 1.55rem;
}
.container .stories-section {
  width: 90%;
  height: 180rem;
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container .stories-section .section__four__grow,
.container .stories-section .section__four__conversations,
.container .stories-section .section__four__users {
  width: 100%;
  height: 60rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.container .stories-section .section__four__grow .section__four__illustration,
.container .stories-section .section__four__conversations .section__four__illustration,
.container .stories-section .section__four__users .section__four__illustration {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .stories-section .section__four__grow .section__four__illustration img,
.container .stories-section .section__four__conversations .section__four__illustration img,
.container .stories-section .section__four__users .section__four__illustration img {
  width: 100%;
}
.container .stories-section .section__four__grow .section__four__info,
.container .stories-section .section__four__conversations .section__four__info,
.container .stories-section .section__four__users .section__four__info {
  width: 100%;
  height: 32%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container .stories-section .section__four__grow .section__four__info h2,
.container .stories-section .section__four__conversations .section__four__info h2,
.container .stories-section .section__four__users .section__four__info h2 {
  font-size: 2rem;
  height: 20%;
}
.container .stories-section .section__four__grow .section__four__info p,
.container .stories-section .section__four__conversations .section__four__info p,
.container .stories-section .section__four__users .section__four__info p {
  font-size: 1.2rem;
  display: block;
  width: 100%;
  height: 52%;
  text-align: center;
}
.container .stories-section .section__four__conversations {
  align-self: center;
}
.container .contact-us-section {
  width: 100%;
  height: 24rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .contact-us-section .section__five__inner {
  width: 80%;
  height: 23rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2rem;
}
.container .contact-us-section .section__five__inner h1 {
  width: 100%;
  height: 5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.3rem;
}
.container .contact-us-section .section__five__inner a {
  font-family: poppins;
  width: 294px;
  height: 58px;
  border-radius: 78px;
  text-decoration: none;
  outline: none;
  background-color: hsl(322, 100%, 66%);
  color: hsl(207, 100%, 98%);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 27.3rem) {
  .container {
    width: 80%;
    margin: auto;
  }
  .container .sectionOne {
    width: 80%;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 80rem;
    margin: auto;
  }
  .container nav .logo {
    width: 15rem;
  }
  .container .sectionOne {
    width: 100%;
  }
  .container .sectionTwo {
    width: 80%;
    height: 34rem;
  }
  .container .sectionTwo .section-two-ill {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container .sectionTwo .section-two-ill img {
    width: 40rem;
  }
  .container .sectionThree {
    width: 80%;
    height: 10rem;
    margin: 4rem auto 0 auto;
    flex-direction: row;
  }
  .container .sectionThree .section-1 {
    width: 50%;
    padding: 0 0 0 5rem;
    height: 100px;
  }
  .container .sectionThree .section-2 {
    width: 50%;
    margin: 0;
    padding: 0 0 0 5rem;
    height: 100px;
  }
  .container .section__four {
    width: 100%;
    height: 138rem;
  }
  .container .section__four .section__four__grow,
  .container .section__four .section__four__conversations,
  .container .section__four .section__four__users {
    height: rem;
    flex-direction: row;
  }
  .container .section__four .section__four__conversations {
    flex-direction: row-reverse;
  }
}

/*# sourceMappingURL=style.css.map */
