@mixin centerer {
    display: flex;
    justify-content: center;
    align-items: center;
}
@font-face {
    font-family: poppins;
    src: url(../fonts/poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: openSans;
    src: url(https://fonts.google.com/specimen/Open+Sans);
}

$Pink: hsl(322, 100%, 66%);
$Light-Pink: hsl(321, 100%, 78%);
$Light-ed: hsl(0, 100%, 63%);
$Very-Dark-Cyan: hsl(192, 100%, 9%);
$Very-Pale-Blue: hsl(207, 100%, 98%);

* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}

.container {
    width: 32rem;
    margin: auto;

    nav {
        width: 90%;
        height: 7rem;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .button {
            width: 125px;
            height: 38px;
            @include centerer();
            border: solid 1px hsl(321, 100%, 78%);
            border-radius: 30px;
            a {
                display: block;
                width: 100%;
                height: 45px;
                @include centerer();
                text-decoration: none;
                color: hsl(321, 100%, 78%);
                font-family: poppins;
            }
        }
        .pusher {
            width: 93px;
            background-color: aqua;
        }
        .logo {
            width: 10rem;
            @include centerer();
            img {
                width:100%;
            }
        }
    }

    .sectionOne {
        width: 90%;
        height: 35rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 75px 0 0 0 ;
        h2 {
            display: block;
            width: 458px;
            height: 6rem;
            font-size: 38px;
            text-align: center;
            font-family: poppins;
            line-height: 55px;
            color: $Very-Dark-Cyan;
            font-weight: bolder;
        }
        p {
            display: block;
            width: 441px;
            height: 141px;
            font-size: 19px;
            text-align: center;
            font-family: poppins;
            line-height: 40px;
            color: $Very-Dark-Cyan;
        }
        a {
            font-family: poppins;
            width: 294px;
            height: 58px;
            border-radius: 78px;
            text-decoration: none;
            outline: none;
            background-color: $Pink;
            color: $Very-Pale-Blue;
            @include centerer()
        }
    }

    .sectionTwo {
        width: 94%;
        margin: 6rem auto;

        .section-two-ill {
            width: 100%;
            height: 364px;

            img {
                width: 100%;
            }
        }
    }

    .sectionThree {
        margin: 90px 0 0 auto;
        width: 80%;
        height:600px;
        display: flex;
        flex-direction: column;

        .section-1 {
            .class-1 {
                width: 100%;
                height: 70px;
                padding: 16px 0 0 18px;
                img {
                    display: block;
                    width: 50px;
                }
            }
            .class-2 {
                width: 100%;
                height: 100px;
                padding: 16px 0 0 18px;
                h2 {
                    width: 60%;
                    font-size: 94px;
                }
            }
            .class-3 {
                width: 100%;
                height: 80px;
                padding: 24px 0 0 10px ;
                p {
                    width: 100%;
                    font-size: 1.55rem;
                }
            }
        }
        .section-2 {
            margin-top: 76px;
            .class-1 {
                width: 100%;
                height: 70px;
                padding: 16px 0 0 18px;
                img {
                    display: block;
                    width: 50px;
                }
            }
            .class-2 {
                width: 100%;
                height: 100px;
                padding: 16px 0 0 18px;
                h2 {
                    width: 60%;
                    font-size: 5.4rem;
                }
            }
            .class-3 {
                width: 100%;
                height: 80px;
                padding: 24px 0 0 10px ;
                p {
                    width: 100%;
                    font-size: 1.55rem;
                }
            }
        }
    } 

    .section__four {
        width: 90%;
        height: 180rem;
        margin: 10rem auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .section__four__grow,
        .section__four__conversations,
        .section__four__users {
            width: 100%;
            height: 60rem;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            .section__four__illustration {
                width: 100%;
                height: 40%;
                display: flex;
                justify-content: center;
                align-items: center ;
                img {
                    width: 100%;
                }
            }
            .section__four__info {
                width: 100%;
                height: 32%;
                ;display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                h2 {
                    font-size: 2rem;
                    height: 20%;
                }
                p {
                    font-size: 1.2rem;
                    display: block;
                    width: 100%;
                    height: 52%;
                    text-align: center;
                }
            }
        }

        .section__four__conversations {
            align-self: center;
        }
    }

    .section__five {
        width: 100%;
        height: 24rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .section__five__inner {
            width: 80%;
            height: 23rem;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            margin-bottom: 2rem;

            h1 {
                width: 100%;
                height: 5rem;
                text-align: center;
                @include centerer();
                font-size: 2.3rem;
            }
    
            a {
                font-family: poppins;
                width: 294px;
                height: 58px;
                border-radius: 78px;
                text-decoration: none;
                outline: none;
                background-color: $Pink;
                color: $Very-Pale-Blue;
                @include centerer();
            }
        }

        
    }
}

@media only screen and (min-width:1200px)  {
    .container {
        width: 80rem;
        margin: auto;
        nav {
            .logo {
                width: 15rem;
            }
        }
        .sectionOne {
            width: 100%;

        }
        .sectionTwo {
            width: 80%;
        }
        .sectionThree {
            width: 80%;
            margin: 30rem auto 0 auto; 
            flex-direction: row;
            .section-1 {
                width: 50%;
                padding: 0 0 0 5rem;
                
            }
            .section-2 {
                width: 50%;
                margin: 0;
                padding: 0 0 0 5rem;
            }
        }

        .section__four {
            width: 100%;
            height: 138rem;

            .section__four__grow,
            .section__four__conversations,
            .section__four__users { 
                height: rem;
                flex-direction: row;
            }
            .section__four__conversations {
                flex-direction: row-reverse;
            }

            


        }
    }
}

